<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-6137791063432472/9253179942</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>989313945067-ogniq2lmjc7569nuahv4am876kl6hhit.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.989313945067-ogniq2lmjc7569nuahv4am876kl6hhit</string>
	<key>API_KEY</key>
	<string>AIzaSyC04RveIsnmNQ99IG735_EQosWwzA3Ob8E</string>
	<key>GCM_SENDER_ID</key>
	<string>989313945067</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.managam.FriendlyChat</string>
	<key>PROJECT_ID</key>
	<string>friendlychat-e82af</string>
	<key>STORAGE_BUCKET</key>
	<string>friendlychat-e82af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:989313945067:ios:abae02d23d37b6c8</string>
	<key>DATABASE_URL</key>
	<string>https://friendlychat-e82af.firebaseio.com</string>
</dict>
</plist>
